:root
{
    --ix-preview-box-padding-vertical: 16px;
    --ix-color-gray-11: #121212;
    --color-white: #fff;
    --ix-ads-preview-color__white: #fff;
    --ix-preview-box-padding-vertical: 16px;
    --ix-preview-box-padding-horizontal: 16px;
    --ix-preview-box-padding-horizontal-neg: -16px;
}


.edit-tag
{
    top: 70px;
    width: 1168px;
    box-shadow: rgba(171, 187, 204, 0.6) 0px 2px 20px 0px;
    right: 0px;
    z-index: 90;
}

.sideslip
{
    background-color:  #f8f8f9;
    bottom: 0;
    position: fixed;
}

.side-left
{
    width: 48px !important;
    background-color:  white;
}


.content
{
    width: 100% ;
}

.tab-item-close
{
    margin-bottom: 8px;
    padding: 0 8px;
    padding-top: 4px;
}

.tab-item-close .close-btn
{
    width: 32px;
    height: 32px;
    background: #262627;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

 .close-btn:hover {
    background: #353536;
    color: white;
}

.tab-item:hover
{
    background: #ececed;
}

.close-button__icon
{
    width: 16px;
    height: 16px;
}

.tab-item-others
{
    padding: 8px;
}

.tab-item--active
{
    color: #017976;
    background-color: #e8fbf9;
}

.tab-item
{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab-item__icon
{
    font-size: 14px;
    width: 14px;
    height: 14px;
    fill: currentColor;
    overflow: hidden;
}

.creation-app
{
    background-color:#f6f6f6;
}

.index_creationContent_sDXMS
{
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #f6f6f6;
    height: 100%;
}

.index_editCreative_KssUQ {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 772px;
}

.index_editTitle_Bm3Ny {
    position: sticky;
    top: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 18px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 64px;
    background: white;
}

.index_editTitleText_fDLPl {
    color: #121415;
    line-height: 30px;
}

.index_editTitleId_w0jhq {
    color: #6d6e70;
    font-size: 12px;
}

.index_creativeGateway_QieEM {
    flex: 1;
    padding: 16px 16px 0;
    overflow-y: auto;
}

.index_container_QB1YE
{
    display: flex;
    min-height: 100%;
}

.index_wrapper_MbXmy {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.index_infraPreviewContent_oXXGi {
    min-width: 772px;
}

.index_content_KjME1 {
    min-width: 772px;
    max-width: 1120px;
}

.index_normalCreative_tS2ek
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.index_content_KjME1 .infra-preview-form-wrapper {
    width: 772px;
}

.card-container--mini {
    padding: 24px 24px 32px;
}

.index_container_qIZOO {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    padding: 32px 48px 32px;
    color: #121415;
    background-color: white;
    border-radius: 4px;
}

.card-container--mini .card-container__body-wrapper--mini
{
    margin-top: 4px;
}


.index_switchContent_BQSqd {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.index_switchWrapper_lVIeH {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: auto;
}


/* .vi-switch {
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    vertical-align: middle;
}

.vi-switch.is-disabled .vi-switch__core {
    border-color: #f2f3f3;
    background-color: #f2f3f3;

}

.vi-switch__core {
    margin: 0;
    position: relative;
    width: 44px;
    height: 22px;
    border: 1px solid #d3d4d5 !important;
    outline: 0;
    border-radius: 12px;
    box-sizing: border-box;
    background: #d3d4d5 !important;
    -webkit-transition: border-color .3s, background-color .3s;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;
} */


.index_title_gRuIn {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.card-container__body-wrapper--min {
    margin-top: 8px;
}

.vi-form-item {
    display: block;
}

.index_creationContent_sDXMS .vi-form-item:last-child {
    margin-bottom: 0;
}

.vi-form-item__content {
    line-height: 34px;
    position: relative;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.vi-tag-input {
    display: flex;
    align-items: center;
    width: 480px;
    background: #f2f3f3 !important;
    border-radius: 4px;
}

.vi-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}


.vi-tag-input .vi-input input {
    border: 0 none;
}


.vi-input__inner {
    -webkit-appearance: none;
    background-color: #f2f3f3 !important;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #f2f3f3 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #121415;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    outline: 0;
    padding: 0 12px;
    -webkit-transition: all .2s cubic-bezier(.645,.045,.355,1);
    transition: all .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.vi-button--text {
    height: auto;
    padding: 0;
    border-color: transparent;
    background: 0 0;
}


.vi-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #f2f3f3 ;
    border: 0 #d3d4d5;
    border-radius: 4px;
    color: #121415;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 400;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.index_identityInputTag_uKsaY .vi-input__inner {
    padding-left: 42px !important;
    cursor: pointer;
}

.vi-input--prefix .vi-input__inner {
    padding-right: 30px;
}

.content_generateBtn_nhoCv {
    color:#6d6e70 !important;
    cursor: pointer;
}

.vui-section {
    margin-bottom: 16px;
    border-radius: 4px;
    animation: .3s ease-in-out;
}

.index_wrapper_Rzbdf {
    margin: 16px 0;
}

.index_main_L_AC9
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 660px;
}

.card-container--small {
    padding: 24px 24px;
}



.index_newAdPreviewCreativeIdentity_TgENK {
    width: calc(100% - 304px);
    margin-bottom: 14px;
}

.index_header_CI0MP {
    margin-bottom: 16px;
}

.index_titleWrapper_zkkmZ {
    display: flex;
    align-items: center;
}

.index_title_EZZfA {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}


.vi-icon-question {
    font-size: 14px;
}

.vi-icon-question {
    color: #d3d4d5 !important;
}

.card-container__body-wrapper--small {
    margin-top: 24px;
}

.index_identityTypeSelector_DUiuW {
    margin-bottom: 24px;
}

.index_tooltipWrap_S4jat {
    display: flex;
    align-items: center;
}
/* 
.vi-switch__core:after
{
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    margin-left: -1px;
    background-size: auto 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIwSURBVHgB7ZkxbsIwFIZfWmDuBANI5Ag9AZUKe0/S3qBUpUfgHB26l0r0BtwgSDDAwg5I6XtpKiFEgv3bsWrkT4oS7CjxF2L7PSdK0/SaLpgrunCCoO8EQd8Jgr4TBH0nCPrOxQvWCGS5XN5xoD7kwxvezxqNxmur1ZqTIXwtWq/X3e12+xJFUY+LEt7GnU7ngwAiJJtYLBYPvHs/aticJe9NJHO5eLfbffLP+LCKZQftdntKmqCv6NNxATdAnvrXarXqEkCJXHZ5rn8mAFTwpAQqeUbujxsCgARZZFpSpyWpKCfnzQgAEqzVaiP67fwnUZXUkEu4f48IABKUgaRer/fJQFJTro8OXvA8aCLpSk4wmuhRSVdy2f1trKpJ47nBEypvcDZPyrHCuVbkBCuCgqok/6MpOZITrAkKKpJl2JYTrAbbKn2yiCrkBOvZBCJZlZxQSbqkI1mlnBASXgSdwYZH1ZjnyQmahZzDqqBEKNzQWHckrVLSmqBq+FVEVZJWBDViSxlIkqL6KiSNBXXkJFRTiF2tShoJamYF2XpNPoUMyJEkLGiS8jSbzcSVJCRoms9x451JQoKybmmaz7mShAT3+70s+MZF9arhl6bkkADQV/S2pE4rttSQ7BEAOshsThWigbOipLtFJ27QG+/SwzLTrOCMpNxrTABwRp9/n3jkrcvX+JZ1S5sfX6Sf511hIw8U+S4hWF2y+I+EfNB3gqDvBEHfCYK+EwR9Jwj6zg9xhBtL/snwowAAAABJRU5ErkJggg==);
    -webkit-box-shadow: 0 2px 8px #00000014;
    box-shadow: 0 2px 8px #00000014;
    content: "";
} */

.index_switchText_YhSUx {
    padding-left: 8px;
    font-weight: 500;
    line-height: 22px;
    padding-right: 4px;
}

.index_disabledSwitch_ctiDl {
    color: #a9abac !important;
}

.vi-form-item__content {
    line-height: 34px;
    position: relative;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.index_customIdentityTitle_MRQNI {
    margin-bottom: 6px;
    font-weight: 500;
}


.index_identitySelector_IpQui {
    margin-bottom: 0 !important;
    max-width: 420px;
}


.vi-input__prefix {
    left: 5px;
    top: 0px;
    transition: all 0.3s ease 0s;
}

.vi-input__prefix, .vi-input__suffix {
    position: absolute;
    transition: all 0.3s ease 0s;
    height: 100%;
    text-align: center;
}

.vi-input__prefix {
    left: 12px;
    display: inline-block;
    margin-top: 5px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(--ks-sys-color-neutral-surface3);
}

.index_identityAvator_CNpqR {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 22px;
}

.vi-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all 0.3s ease 0s;
    line-height: 34px;
}

.vi-input__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vi-button--text {
    height: auto;
    padding: 0px;
    border-color: transparent;
    background: 0px 0px;
}

.custom-identity-list_addIcon_jwc8L {
    display: flex;
    align-items: center;
    margin-top: 4px;
    line-height: 22px;
    color: #6d6e70 !important;
    cursor: pointer;
}

.custom-identity-list_text_q5HM6
{
    margin-left: 4px;
    vertical-align: -2px;
}

.index_container_jJVLj 
{
    width: calc(100% - 304px);
    min-height: 678px;

}

.index_container_jJVLj
{
    margin-bottom: 0px;
}

.card-container--small {
    padding: 24px;
}

.card-title
{
    margin-bottom: 16px;
    color: rgb(18, 20, 21);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}


.card-cont {
    margin-top: 32px;
}

.content_material_naFc3 {
    width: 100%;
}

.index_subFormGroupStyle_DLfEO:before {
    margin: 0px -24px;
    display: block;
    height: 20px;
    background: linear-gradient(rgba(250, 250, 250, 0) 0%, rgb(249, 249, 249) 100%);
    content: "";
}

.index_subFormGroupStyle_DLfEO .index_subFormTitle_Tw0sV {
    margin: 24px 0px 16px;
    color: #121415 !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.index_list_c7P98
{
    display: flex;
    flex-direction: column;
}

.index_item_Bv1GU {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.creative-type-selector-tab_disabled_jFYDk {
    cursor: not-allowed;
    user-select: none;
}


.creative-type-selector-tab_typeSelectorWrap_i1TQl {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    background: #f8f8f9 !important;
    outline: 1px solid #f8f8f9 !important;
    cursor: pointer;
}

.creative-type-selector-tab_active_QijEm {
    background: #fff;
    outline-color: #009995 !important;
}

.creative-type-selector-tab_contentWrap_itt4r {
    padding: 8px 8px 8px 12px;
    border-left: 1px solid #f8f8f9 !important;
    border-radius: 4px;
}

.creative-type-selector-tab_contentWrap_itt4r {
    color: #121415 !important;
    border-left-color: #009995 !important;
    box-shadow: inset 4px 0px 0px #009995 !important;
}

.index_typeContent_d8hkl {
    display: flex;
}

.index_titleWrap_sw9ty {
    display: flex;
    flex-direction: column;
}

.index_title_HvT8l {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.index_subTitle_HlO8W {
    color: #6d6e70 !important;
    font-size: 12px;
    line-height: 20px;
}

.index_icon_KaveR {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    fill: currentColor;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.creative-type-selector-tab_active_QijEm 
{
    outline-color: #009995 !important;
    background: #fff;
}

.non-aco-compose_subFormGroupStyle__12eJ {
    margin-bottom: 32px;
}

.non-aco-compose_subFormTitle_TYApu {
    margin-bottom: 8px;
    color: #121415 !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.index_materialTitleBoxHaveContent_BIYH6 {
    margin-bottom: 8px;
}

.index_materialTitleBox_F2qbS {
    display: flex;
    align-items: center;
    position: relative;
}

.index_materialTitleLabel_KwLCh {
    flex: 1;
    font-size: 14px;
    line-height: 22px;
    margin-right: 4px;
    font-weight: 500;
}

.vi-badge {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.vi-button--text {
    height: auto;
    padding: 0;
    border-color: transparent;
    background: 0 0;
}

.index_editorBtn_eBfzh {
    color: #6d6e70 !important;
    cursor: pointer;
}

.index_videoEditIcon_gaRNa {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.vi-button--small {
    font-size: 12px;
}

.new-feature-badge .vi-badge__content {
    background-color: #8078f6;
    z-index: 9;
}


.is-fixed {
    position: absolute;
    top: 0;
    right: 10px;
    -webkit-transform: translateY(-50%) translateX(100%);
    transform: translateY(-50%) translateX(100%);
}

.vi-badge__content {
    background-color: #8078f6;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #FFFFFF;
}

.index_materialButtons_MHlWC {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    line-height: 1;
}

.selected-video_videoMaterialDetail_Hwpva {
    position: relative;
    width: 100%;
}

.index_selectedMaterial_flUcr {
    width: 100%;
    position: relative;
    margin-top: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
    background: #f8f8f9 !important;
    padding: 8px;
}

.index_selectedMaterialFirst_bwOhS {
    margin-top: 0;
}

.index_materialInfoBox_DHQJy {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.index_videoCover_IE4o0 {
    position: relative;
    width: 64px;
    height: 64px;
    min-width: 64px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
    background: #ececed !important;
}

.index_videoCover_IE4o0 .index_image_HuhDS {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
    vertical-align: bottom;
}

.index_materialDescBox_SFJ1s {
    min-width: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
}

.index_materialDescBox_SFJ1s .index_leftCol_hTivQ {
    flex: 1;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.index_leftCol_hTivQ .index_info_oKP9I {
    display: flex;
    align-items: center;
    flex: 1;
    min-height: 20px;
}

.index_leftCol_hTivQ .index_info_oKP9I .index_fileNameBox_Y5gc3 {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
    color: #121415 !important;
}


.index_leftCol_hTivQ .index_info_oKP9I .index_videoInfo_RPWNi {
    white-space: nowrap;
}

.index_videoInfo_RPWNi .index_label_psoD1 {
    margin-left: 8px;
    color: #999;
    font-size: 12px;
    white-space: nowrap;
}

.index_leftCol_hTivQ .index_controlBar_Ekzhz {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.selected-video_coverButton_KCOw0 {
    color: #017976 !important;
}

.selected-video_coverButton_KCOw0 .selected-video_pictureIcon_RQdqZ {
    position: relative;
    top: 2px;
    padding-right: 4px;
}

.vi-dropdown {
    display: inline-block;
    position: relative;
    color: #6d6e70;
    font-size: 14px;
}

.vi-tooltip {
    cursor: pointer;
}


.material-update-dropdown-new_editBtn_bWPbG {
    color: #6d6e70 !important;
    cursor: pointer;
}

.material-update-dropdown-new_editBtn_bWPbG i {
    vertical-align: bottom;
}


.index_creativeTitle_EsafH {
    position: relative;
    margin-bottom: 0px !important;
}


.vi-form-item__content {
    line-height: 34px;
    position: relative;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.small-gap-form .vi-form-item.inline-item {
    margin-bottom: 0;
}

.index_label_e6vx9 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #121415 !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
}


.index_creativeTitle_EsafH .index_inputBox_kL_B8 {
    margin-top: 8px;
}

.index_textareaCounter_scUDE {
    position: relative;
    line-height: 1.5;
    border: 1px solid transparent;
    background-color: #f2f3f3 !important;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.vi-textarea {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

.index_textareaCounter_scUDE textarea {
    border: 0 !important;
    box-shadow: 0 0 0 0 !important;
    padding-right: 20px !important;
}

.index_textareaCounter_scUDE .index_btnsWrap_FzwEz {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
    padding-bottom: 6px;
    border-radius: 4px;
}


.iconBox {
    display: flex;
    align-items: center;
}

.index_problemIcon_mSzNj {
    color: #faad15;
}

.index_textareaCounter_scUDE .index_btnsWrap_FzwEz i {
    cursor: pointer;
}


.index_textareaCounter_scUDE .index_numberCounter_rx8dY {
    color: #c1c1c1;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.index_textareaCounter_scUDE .index_numberCounter_rx8dY span {
    vertical-align: middle;
}

.index_smartBtns_s3l9C {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.index_container_o5F6i {
    line-height: 1;
    margin-left: 4px;
    color: #d3d4d5 !important;
    cursor: pointer;
}

.index-new_creativeCta_Cnwe9 {
    margin-top: 32px;
}

.index-new_ctaTitle_jE4_w {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 4px;
}

.index-new_ctaSwitchTitle_B_x9m {
    margin-bottom: 16px;
}

.index_titleForm_DV6gU {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
}


.index_titleForm_DV6gU {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
}
.index_switchTitle_iphwb {
    padding-left: 8px;
    display: inline-block;
}

.index-new_titleTooltip_fgyup {
    padding-left: 4px;
}

.index_subFormGroupWrap_d7xIX {
    margin-top: 32px;
    margin-bottom: 32px;
}

.index_creationContent_sDXMS .small-gap-form .vi-form-item:last-child {
    margin-bottom: 0;
}

.vi-form--label-top .vi-form-item__label {
    display: inline-block;
    text-align: left;
    padding: 0 0 8px;
    line-height: 22px;
}

.index_attachmentCreativeForm_I1yss .index_attachmentCreativeFormItemLabel_nId9n
{
    display: flex;
    line-height: 1;
    font-weight: 500;
    font-size: 14px;
    color: #121415 !important;
    align-items: center;
}

.index_addOnContainer_AwPLJ {
    display: flex;
    flex-direction: column;
}


.index_addOnSelector_EnaR4 {
    display: flex;
    align-items: center;
}

.index_btnWrapper_hZtAf {
    height: 20px;
    display: flex;
    align-items: center;
    line-height: 1;
}

.index_btnIcon_ALiez {
    margin-right: 4px;
}

.recommend-add-ons_recommendAddOnsContainer_KpHSF {
    width: 100%;
    border: 1px solid #d3d4d5 !important;
    border-radius: 4px;
    padding: 16px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;
}

.recommend-add-ons_recommendAddOnsTitle_kJWrL {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: #121415 !important;
}

.recommend-add-ons_recommendAddOnsTitleLeft_Pkhdl {
    display: flex;
    align-items: center;
}

.recommend-add-ons_recommendAddOnsTitle_kJWrL img {
    width: 16px;
    height: auto;
    margin-right: 8px;
}

.recommend-add-ons_recommendAddOnsTitleDynamic_P_JBk {
    color: #6d6e70 !important;
}

.recommend-add-ons_closeBtn_ijw74 {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    position: inherit;
    color: #999;
}

.recommend-add-ons_recommendAddOns_kD3ii .recommend-add-ons_cardsContainerMultiple_txniv {
    margin-top: 8px;
}

.recommend-add-ons_recommendAddOns_kD3ii .recommend-add-ons_addOnTitle_gnOMJ {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #121415 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recommend-add-ons_recommendAddOns_kD3ii .recommend-add-ons_cardsContainerMultiple_txniv img {
    height: 78px;
    width: 100%;
    margin-top: 8px;
}

.recommend-add-ons_recommendAddOns_kD3ii .recommend-add-ons_cardsContainerMultiple_txniv .recommend-add-ons_button_MNXmu {
    height: 30px;
    width: 100%;
    margin-top: 8px;
}

.index_subFormGroupWrap_d7xIX {
    margin-top: 32px;
}

.index_subFormGroupWrapWithLine_PCC0m::before {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-bottom: 32px;
    background-color: #ececed !important;
    content: "";
}

.index_expansionPanelTitle_o158M {
    margin-top: 24px;
}

.index_panelHead_vfl3R {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 32px;
    margin-left: -20px;
    cursor: pointer;
    isolation: isolate;
}

.index_expansionPanelTitle_o158M .index_titleHead_T_IKq {
    margin-left: 0;
}


.index_panelHead_vfl3R::before {
    position: absolute;
    top: -10px;
    right: -6px;
    bottom: -10px;
    left: -6px;
    z-index: 1;
    display: block;
    border-radius: 2px;
    transition: background-color 100ms ease-out;
    content: "";
}

.index_arrowIcon_LXP5m {
    z-index: 2;
    margin-right: 4px;
    color: #121415 !important;
    font-size: 16px;
    transform: rotate(-90deg);
    transition: all .3s;
}

.index_expansionPanelTitle_o158M .index_titleLabel_u6Ksf {
    color: #6d6e70 !important;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    z-index: 2;
}


.index_subFormGroupWrap_d7xIX {
    margin-top: 32px;
}

.index_creationContent_sDXMS .small-gap-form .vi-form-item {
    margin-bottom: 24px;
}

.aigc-disclosure__container.aigc-disclosure__container--disabled {
    cursor: not-allowed;
}

.aigc-disclosure__container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.aigc-disclosure__titleContainer {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 22px;
}

.vi-checkbox, .vi-checkbox__input {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.aigc-disclosure__checkbox {
    line-height: 22px;
    cursor: pointer;
}

.vi-checkbox {
    color: #121415;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
}

.aigc-disclosure__checkbox.is-disabled {
    cursor: not-allowed;
}


.vi-checkbox__input {
    outline: 0;
    line-height: 1;
    vertical-align: middle;
}

.vi-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #d3d4d5;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46), background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46), background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}

.vi-checkbox, .vi-checkbox__input {
    cursor: pointer;
    display: inline-block;
    position: relative;

}


.vi-checkbox__input.is-disabled .vi-checkbox__inner {
    background-color: #f8f8f9 !important;
    border-color: #e1e1e2 !important;
    cursor: not-allowed;
}


.aigc-disclosure__title {
    cursor: pointer;
    margin-left: 8px;
    color: #a9abac !important;
}

.aigc-disclosure__desc {
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 24px;
}

.aigc-disclosure__desc {
    color: #a9abac !important;
}

.aigc-disclosure__link {
    font-size: 12px;
}

.x-bo-wc-co-learn-more-link {
    cursor: pointer;
    text-decoration: none;
    color: #017976;
}

.aigc-disclosure__link {
    font-size: 12px;
}

.ad-form-creative-lib-auth {
    box-sizing: border-box;
    padding-bottom: 12px;
    background-color: white !important;
}

.ad-form-creative-lib-auth:last-child {
    padding-bottom: 0;
}

.ad-form-creative-lib-auth .vi-checkbox {
    display: flex;
}


.vi-checkbox {
    color: #121415;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
}

.ad-form-creative-lib-auth .vi-checkbox .vi-checkbox__input {
    margin-top: 4px;
}

.is-checked .vi-checkbox__inner {
    background-color: #c3e9e7 !important;
    border-color: #c3e9e7 !important;
}

 .vi-checkbox .vi-checkbox__label {
    color: #d3d4d5 !important;
    font-size: 12px;
    line-height: 22px; 
    display: inline-block;
    padding-left: 10px;
}

.ad-form-creative-lib-auth .withdraw-label {
    font-size: 12px;
    line-height: 22px;
    white-space: normal;
}


.vi-checkbox__input.is-disabled .vi-checkbox__inner::after {
    cursor: not-allowed !important;
    border-color: #a9abac !important;
}

.vi-checkbox__input.is-disabled.is-checked .vi-checkbox__inner {
    background-color: #c3e9e7 !important;
    border-color: #c3e9e7 !important;
}


.index_attachmentCreativeFormItemLabel_nId9n .index_toolTipsIcon_vJpX2 {
    line-height: 22px;
    margin-left: 4px;
}
.xgplayer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    white-space: normal;
    word-wrap: normal;
    overflow-wrap: normal;
}

.x-ix-ad-pr-ix-video .xgplayer {
    cursor: default;
}

.x-ix-ad-pr-ix-video .xgplayer.xgplayer-inactive {
    cursor: default;
}

a {
    color: #017976 !important;
    text-decoration: none;
    cursor: pointer;
}

.index_preview_ojtvd {
    position: absolute;
    top: 0;
    right: 0;
    width: 288px;
    height: 100%;
}


.index_previewInner_AnXJE {
    position: sticky;
    top: 16px;
}


.x-ads-preview {
    position: relative;
    width: 100%;
    height: calc(100% - 2* var(--ix-preview-box-padding-vertical, 16px));
    padding: var(--ix-preview-box-padding-vertical, 16px) var(--ix-preview-box-padding-horizontal, 16px);
    line-height: 1;
    font-weight: 400;
    font-size: 14px;
    color: var(--ix-color-gray-11);
    text-align: left;
    background-color: white;
    border-radius: 4px;
    user-select: none;
}

.index_main_L_AC9
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 660px;
}

.x-ad-preview-scrollbar {
    overflow: hidden auto;
}

.x-ads-preview__appicon {
    position: relative;
    width: 256px;
    display: block;
    margin-bottom: 12px;
}

.x-preview-app-icon {
    z-index: 11;
}


.x-adview-app-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.x-adview-app-icon__main {
    display: flex;
    gap: 16px;
}

.x-adview-app-icon-item {
    position: relative;
    height: 100%;
}

.x-adview-app-icon__icon-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.x-adview-app-icon__option {
    position: relative;
    padding-left: 13px;
}

.x-adview-app-icon__full_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: #f2f2f2;
    cursor: pointer;
}

.x-adview-app-icon__option:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 32px;
    background:#e3e3e3;
}

.x-adview-app-icon__full_screen svg {
    display: block;
}

.x-ix-full-screen__no_full_screen_box {
    top: 0 !important;
    left: 0 !important;
}

.x-ix-full-screen__full_screen_box {
    position: relative;
    top: 0;
    left: 0;
    transform-origin: top left;
    background-color: #fff;
}

.x-ads-preview__options {
    width: 256px;
    display: flex;
    gap: 2px;
}

.x-ads-preview__optionsx
{
    margin-bottom: 12px;
}

.x-ix-select-placement {
   
   
}

.x-ads-preview__options__item {
    flex: 1 1 0%;
}

.x-ix-select-placement__option {
    border-radius: 4px;
    background-color: #f2f2f2;
}


.select__selected-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fields-presenter {
    display: flex;
    align-items: flex-start;
    overflow: auto;
    position: relative;
    width: 100%;
    cursor: pointer;
    border: 1px solid #d3d4d5 !important;
    border-radius: var(--x-size__inspace-radius, 4px);
    line-height: 1;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out 0s;
}

.fold {
    transform: rotate(0deg);
    transition: transform 0.5s ease 0s;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: middle;
    right: 5%;
}

.fields-presenter--filled {
    background: #f2f3f3 !important;
    border-color: #f2f3f3 !important;
    align-items: center;
}

.fields-presenter--xs {
    font-size: 12px;
    line-height: calc(var(--x-size__formitem-height-xs) - 4px);
    padding: 1px 0px 1px 12px;
}

.fields-presenter__content {
    flex: 1 1 0%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 4px;
}

.icon {
    position: absolute;
    width: 1em;
    height: 1em;
    left: 0px;
    top: 0px;
}


.x-ix-mobile__mobile {
    position: relative;
    width: 256px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    display: flex;
    height: 100%;
}


.x-ix-mobile__app {
    flex: 0 0 256px;
    height: 100%;
    background-color: #8a8a8a;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}

.x-ix-mobile__placement {
    position: absolute;
    inset: 0px;
}

.x-ix-ad-pr-placement-infeed {
    width: 100%;
    height: 100%;
    position: relative;
}

.x-ix-ad-pr-placement-infeed__player {
    position: absolute;
    inset: 0;
    overflow: hidden;
    height: calc(100% - 54.4820512821px);
}

 .tiktok__player {
    z-index: 1;
}

.xgplayer .xgplayer-poster {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: opacity .3s ease, visibility .3s ease;
    pointer-events: none;
}

.x-ix-ad-pr-ix-video {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.x-ix-ad-pr-ix-video__play-wrap {
    position: relative;
    height: 100%;
}

.xgplayer video {
    -o-object-fit: cover;
    object-fit: cover;
}

.xgplayer video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

.x-ix-ad-pr-ix-video__ix-player-starttime .xgplayer .xgplayer-poster {
    opacity: 1 !important;
    visibility: visible !important;
}

.x-ix-ad-pr-ix-video .xgplayer-poster {
    background-size: cover;
}

.x-ads-preview__main {
    position: relative;
    width: 256px;
    overflow: hidden;
    height: 555.323px;
}


.tiktok-infeed-header-com-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.004) 7.86%, rgba(0, 0, 0, 0.01) 15.13%, rgba(0, 0, 0, 0.024) 21.91%, rgba(0, 0, 0, 0.043) 28.29%, rgba(0, 0, 0, 0.063) 34.35%, rgba(0, 0, 0, 0.086) 40.18%, rgba(0, 0, 0, 0.11) 45.88%, rgba(0, 0, 0, 0.133) 51.53%, rgba(0, 0, 0, 0.157) 57.23%, rgba(0, 0, 0, 0.176) 63.06%, rgba(0, 0, 0, 0.196) 69.12%, rgba(0, 0, 0, 0.216) 75.5%, rgba(0, 0, 0, 0.227) 82.28%, rgba(0, 0, 0, 0.235) 89.55%, rgba(0, 0, 0, 0.24) 97.41%);
}

.x-ix-ad-pr-placement-infeed__top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89.2717948718px;
    color: white;
    z-index: 4;
}

.x-ix-ad-pr-tiktok-status-bar {
    display: block;
    width: 100%;
    height: 30.8512820513px;
    background: transparent url(https://sf16-sg.tiktokcdn.com/obj/eden-sg/10eh7vhogupqvhog/7813956867649867.png) top / contain no-repeat;
    transform: translateZ(0);
}

.x-ix-ad-pr-placement-infeed__nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28.8820512821px;
    background: transparent url(https://sf16-sg.tiktokcdn.com/obj/eden-sg/10eh7vhogupqvhog/54632240723265.png) top / contain no-repeat;
    transform: translateZ(0);
}

.tiktok__texts-cta {
    position: absolute;
    box-sizing: border-box;
    width: 256px;
    bottom: 0px;
    padding: 32.8205px 65.641px 63.6718px 7.87692px;
    color: white;
    z-index: 4;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0) -0.28%, rgba(0, 0, 0, 0.004) 7.6%, rgba(0, 0, 0, 0.016) 14.9%, rgba(0, 0, 0, 0.03) 21.7%, rgba(0, 0, 0, 0.05) 28.09%, rgba(0, 0, 0, 0.08) 34.16%, rgba(0, 0, 0, 0.106) 40.01%, rgba(0, 0, 0, 0.133) 45.73%, rgba(0, 0, 0, 0.165) 51.4%, rgba(0, 0, 0, 0.196) 57.11%, rgba(0, 0, 0, 0.224) 62.96%, rgba(0, 0, 0, 0.247) 69.04%, rgba(0, 0, 0, 0.27) 75.43%, rgba(0, 0, 0, 0.286) 82.23%, rgba(0, 0, 0, 0.298) 89.52%, rgba(0, 0, 0, 0.3) 97.4%);
}

.x-ix-ad-pr-control-texts {
    pointer-events: auto;
    margin-bottom: 9.1897435897px;
}

.x-ix-ad-pr-control-texts__identity {
    display: flex;
    gap: 2.6256410256px;
    color: white;
    font-size: 11.158974359px;
    font-weight: 500;
    pointer-events: none;
}

.x-ix-ad-pr-control-texts__identity-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-ix-ad-pr-control-texts__text {
    font-size: 9.1897435897px;
    letter-spacing: 0.093px;
    margin: 5.2512820513px 0;
    line-height: 1.3;
    user-select: none;
    color: rgba(255, 255, 255, 0.9);
}

.x-ix-ad-pr-control-texts__text-ellipsis-content_hide {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .x-ix-ad-pr-control-texts__text-ellipsis-placeholder {
    float: right;
}

.x-ix-ad-pr-control-texts__text {
    font-size: 9.1897435897px;
    letter-spacing: 0.093px;
    margin: 5.2512820513px 0;
    line-height: 1.3;
    user-select: none;
    color: rgba(255, 255, 255, 0.9);
}

.x-ix-ad-pr-control-texts__sponsored {
    display: flex;
    margin: 5.2512820513px 0;
    gap: 2.6256410256px;
    pointer-events: none;
}

.x-ix-sponsored {
    display: flex;
    background: rgba(255, 255, 255, 0.34);
    border-radius: 1.3128205128px;
}
.x-ix-sponsored span {
    display: block;
    height: 10.5025641026px;
    line-height: 10.5025641026px;
    padding: 0 3.2820512821px;
    font-size: 6.5641025641px;
    border-radius: 1.3128205128px;
}


.tiktok__like-music {
    position: absolute;
    right: 3.93846px;
    bottom: 66.9538px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13.1282px;
    z-index: 7;
}

.x-ix-ad-pr-control-identity {
    position: relative;
    color: #fff;
}

.x-ix-ad-image_img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.x-ix-ad-pr-control-identity__avatar {
    overflow: hidden;
    display: block;
    width: 28.8820512821px;
    height: 28.8820512821px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.x-ix-ad-image {
    position: relative;
    display: block;
}


.x-ix-ad-pr-control-like-share {
    display: flex;
    flex-direction: column;
    font-size: 8.5333333333px;
    justify-content: center;
    gap: 11.8153846154px;
    color: white;
    font-weight: 500;
}

.x-ix-ad-pr-control-like-share span {
    display: block;
    font-size: 0;
}

.x-ix-ad-pr-control-like-share svg {
    width: 21.0051282051px;
}

.x-adview-control-music {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 26.2564102564px;
    height: 26.2564102564px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 40c11.046 0 20-8.954 20-20S31.046 0 20 0 0 8.954 0 20s8.954 20 20 20z' fill='url(%23paint0_angular_3576_86940)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_angular_3576_86940' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(20 0 0 20 20 20)'%3E%3Cstop offset='.131' stop-color='%23151515'/%3E%3Cstop offset='.397' stop-color='%23393939'/%3E%3Cstop offset='.632' stop-color='%23161616'/%3E%3Cstop offset='.889' stop-color='%23393939'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: contain;
}

.x-preview-tiktok-menu {
    width: 100%;
    height: 54.4820512821px;
    background: #000 url(https://sf16-sg.tiktokcdn.com/obj/eden-sg/10eh7vhogupqvhog/6431269930350056.png) top / contain no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
}

.xgplayer-loading {
    display: none;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


.x-ix-ad-pr-player-controls__play-status{position:absolute;width:80px;height:80px;left:50%;top:50%;z-index:19;display:flex;align-items:center;justify-content:center;transform:translate(-50%, -50%)}.x-ix-ad-pr-player-controls__play-status-wrap{width:100%;height:100%;display:flex;align-items:center;justify-content:center;background-color:var(--ix-player-controls-bg);border-radius:50%;cursor:pointer;transition:all 0.5s}.x-ix-ad-pr-player-controls__play-status-icon{opacity:0.8}.x-ix-ad-pr-player-controls__play-status-wrap:hover .x-ix-ad-pr-player-controls__play-status-icon{opacity:1}

.x-ix-ad-pr-ix-video .xgplayer-loading {
    width: 36.758974359px;
    height: 36.758974359px;
}

.xgplayer-loading svg, .xgplayer-loading img {
    width: 100%;
    height: 100%;
}

.x-ix-ad-pr-ix-video .xgplayer-loading path {
    fill: #009995 !important
}

.xg-loading-inner {
    display: block;
    height: 100%;
    width: 100%;
    transform-origin: center;
    animation: loadingRotate 1s .1s linear infinite;
}


.x-ads-preview__progress-bar, .x-ads-preview__safe-zone {
    width: 256px;
    margin-top: 12px;
}

.x-ix-ad-pr-video-progress-bar__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
}


.x-ix-ad-pr-video-progress-bar__progress-bar-wrap {
    position: relative;
    flex-grow: 1;
    padding: 6px 0;
    margin-left: 6px;
    cursor: pointer;
}

.x-ix-ad-pr-video-progress-bar__progress-bar {
    position: relative;
    border-radius: 3px;
    background-color: #e3e3e3;
}

.x-ix-ad-pr-video-progress-bar__progress-bar::before, .x-ix-ad-pr-video-progress-bar__progress-bar::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: -6px;
    width: 12px;
    height: 100%;
    border-radius: 3px;
    background: #009995 !important;
}

.x-ix-ad-pr-video-progress-bar__progress-bar {
    position: relative;
    border-radius: 3px;
    background-color: #e3e3e3;
}

.x-ix-ad-pr-video-progress-bar__progress {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #009995 !important;
    width: 0;
    border-radius: 3px;
}

.x-ix-ad-pr-video-progress-bar__section-bar-play .x-ix-ad-pr-video-progress-bar__progress {
    transition: all 0.1;
}

.x-ix-ad-pr-video-progress-bar__thumb {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-25%);
    background: white;
    cursor: pointer;
}


.x-ix-ad-pr-video-progress-bar__section-bar-play .x-ix-ad-pr-video-progress-bar__thumb {
    transition: left 0.1;
}


.x-ix-ad-pr-video-progress-bar__thumb_hover_area {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #009995 !important;
}

.x-ix-ad-pr-video-progress-bar__progress-bar::after {
    z-index: 0;
    background: #e3e3e3;
}


.x-ix-ad-pr-video-progress-bar__time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80px;
    margin-left: 8px;
    font-size: 12px;
    color: #121212;
}


/* .index_container_kTOYi {
    min-width: 600px;
} */

.card-container--small {
    padding: 24px 24px;
}

.index_header_ujMpj {
    position: relative;
}

.index_title_ukT5R {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.index_title_ukT5R .index_titleOption_Kn_RQ {
    color: #a9abac !important;
    font-weight: 400;
}

.card-container--small .card-container__body-wrapper--small {
    margin-top: 24px;
}

.index_fixStyle_FK4i5 {
    position: relative;
    left: -12px;
    width: calc(100% + 24px);
}


.ttam-tracking-background-container {
    margin-top: 8px;
    background: #fff;
    border-radius: 4px;
}

.ttam-tracking-background-container__focus {
    padding: 12px;
    position: relative;
}

.ttam-tracking-background-container__focus_header {
    display: flex;
    justify-content: space-between;
}

.ttam-tracking-background-container__focus_title {
    font-weight: 500;
    color: #121415 !important;
}

.ttam-tracking-background-container__focus_icon {
    color: #333;
    background: #f2f3f3 !important;
    width: 34px;
    height: 34px;
    line-height: 38px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 12px;
}


.ttam-tracking-background-container__focus_body {
    margin-top: 8px;
    margin-right: 50px;
}


.ttam-tracking-background-container__focus_item {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 4px;
    display: flex;
}


.overflow-tooltip {
    width: 100%;
    white-space: nowrap;
}

.ttam-tracking-background-container__focus_value {
    color: #121415 !important;
}

.overflow-tooltip .label-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}


.prefix-content
{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.ttam-tracking-background-container__focus_label {
    color:#6d6e70 !important;
    flex-shrink: 0;
    margin-right: 2px;
}

.overflow-tooltip .label-container .label-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflow-tooltip .label-container .prefix-content, .overflow-tooltip .label-container .suffix-content, .overflow-tooltip .label-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.creative-track-url-item-base_trackUrlTitle_lnCkD {
    margin: 24px 0 8px;
    font-weight: 500;
    font-size: 14px;
}


.creative-track-url-item-base_trackUrlWrap_fI1xU {
    margin-top: 8px;
    padding: 16px 24px;
    background: rgba(248, 248, 249, .5);
    position: relative;
}

.creative-track-url-item-base_trackUrlWrap_fI1xU .creative-track-url-item-base_impressionItem_GPUne {
    margin-bottom: 24px;
}

.creative-track-url-item-base_trackUrlWrap_fI1xU .creative-track-url-item-base_trackItem_tM7Dv .vi-form-item__label {
    font-weight: 500;
}

.vi-form--label-top .vi-form-item__label {
    display: inline-block;
    text-align: left;
    padding: 0 0 8px;
    line-height: 22px;
}

.vi-form-item__content {
    line-height: 34px;
    position: relative;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.vi-tooltip {
    cursor: pointer;
}

.vi-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}


.creative-track-url-item-base_trackUrlWrap_fI1xU .creative-track-url-item-base_trackItem_tM7Dv .vi-input-track {
    width: 480px;
}

.index_creationContent_sDXMS .vi-form-item:last-child {
    margin-bottom: 0;
}


.creative-track-viewability_trackItemView_nIvPh {
    margin: 24px 0 0 !important;
}

.index_buttons-container_F_WAC {
    position: sticky;
    bottom: 69px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 13px 24px;
    background: white;
    box-shadow: inset 0px 1px 0px #f2f3f3 !important;
}


.index_buttons-container_F_WAC .index_left_RWOSn {
    flex-shrink: 0;
}


.index_buttons-container_F_WAC .index_right_DVwG_.index_rightFullWith_us5Rj {
    width: 100%;
}

.index_buttons-container_F_WAC .index_right_DVwG_ {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
}


.index_nextContainer_EUvtk {
    display: flex;
    margin-left: 16px;
    justify-content: space-between;
    justify-items: center;
}

.index_prefix_umVaI {
    display: flex;
    align-items: center;
}


.vi-button--primary {
    color: #FFFFFF;
    background-color: #009995;
    border-color: #009995;
}

.slide-out {
    display: block; /* Ensure the container is visible */
    opacity: 0;
    transform: translateX(100%); /* Start off-screen to the right */
    transform-origin: right;
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1); /* Smooth easing effect */
}

.slide-in-active {
    opacity: 1;
    transform: translateX(0); /* Slide into the original position */
    animation: bounce-in-v2 .5s ease;
}

.slide-out-active {
    animation: bounce-out-v2 .5s ease;
}

@keyframes bounce-in-v2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes bounce-out-v2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}



.index_subFormGroupWrapWithLine_PCC0m::before {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-bottom: 32px;
    background-color: var(--ks-sys-color-neutral-surface3);
    content: "";
}

.index_subFormGroupWrap_d7xIX .index_subFormTitle_dl79s {
    margin: 24px 0 24px 0;
    color: var(--ks-sys-color-neutral-highOnSurface);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}


.index_destinationContentWrap_YFzRX .index_destinationTitle_flpeo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 32px;
    color: var(--ks-sys-color-high-onSurface);
    font-weight: 500;
    font-size: 18px;
}

.ttam-creative-destination-type-compose__wrap {
    margin-bottom: 24px;
}

.ttam-creative-destination-type-compose__wrap .selectorWrap {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}


.ttam-creative-destination-type-compose__wrap .selectorItem:nth-child(odd) {
    margin-right: 8px;
}


.index_typeSelectorWrap_bMlRQ {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    outline: 1px solid #f8f8f9;
}

.index_typeSelectorWrap_bMlRQ.index_active_rdcw3 {
    cursor: default;
}


.index_typeSelectorWrap_bMlRQ.index_active_rdcw3 {
    background: #fff;
    outline-color: #009995;
}

.ttam-creative-destination-type-compose__wrap .selectorItem {
    position: relative;
    margin-bottom: 8px;
}


.index_typeSelectorWrap_bMlRQ.index_active_rdcw3 .index_contentWrap_rmETf {
    color: #017976;
    box-shadow: inset 5px 0px 0px #009995;
}

.index_typeSelectorWrap_bMlRQ .index_contentWrap_rmETf {
    padding: 12px 16px;
    border-radius: 4px;
    overflow: hidden;
}

.ttam-creative-destination-type-compose__wrap .selectorTitle {
    font-size: 12px;
    line-height: 20px;
    color: #6d6e70;
}

.ttam-creative-destination-type-compose__wrap .introducePopover {
    line-height: 20px;
}

.vi-popover {
    position: absolute;
    background: #FFFFFF;
    min-width: 150px;
    border-radius: 4px;
    padding: 16px;
    z-index: 2000;
    color: #6d6e70;
    line-height: 1.4;
    text-align: unset;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .08);
}

.vi-popover, .vi-schedule-small {
    font-size: 12px;
}

.ttam-creative-destination-type-compose__wrap .selectorSubtitleWrap {
    display: flex;
}

.ttam-creative-destination-type-compose__wrap .selectorSubtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

}

.index_typeSelectorWrap_bMlRQ.index_disabled_AqffH .selectorSubtitle {
    color: #121415;
}


.index_externalUrl_C9Mx9 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.vi-form-item__content {
    line-height: 34px;
    position: relative;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.index_label_e6vx9 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #121415;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
}

.index_urlLabel__LDMC {
    margin-bottom: 0px;
}

.vi-icon-question {
    font-size: 14px;
}

.vi-icon-question {
    color:#d3d4d5;
}

.index_urlDisclaimer_SOx07 {
    color: #87898b;
    margin-top: 0px;
    margin-bottom: 8px;
    font-family: "TikTok Text";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.index_urlContent_o6TAV {
    display: flex;
    justify-content: space-around;
}

.index_input_mFgXD, .index_urlInput_kUZ1J {
    width: 100%;
}

.vi-autocomplete {
    position: relative;
    display: inline-block;
}

.vi-input--suffix .vi-input__inner {
    padding-right: 30px;
}

.suffix-fix[data-v-69042a2b] .vi-input__suffix {
    display: flex;
    align-items: center;
    right: 8px;
    top: 0px !important;
}

.index_urlContent_o6TAV .index_previewBtn_JC_yS {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.index_urlContent_o6TAV .index_previewBtn_JC_yS i {
    margin-right: 4px;
}

.ttam-creative-auto-attach-switch {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.ttam-creative-auto-attach-switch__switch {
    margin-right: 8px;
}

.vi-switch__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
}

.vi-switch__core {
    margin: 0;
    position: relative;
    width: 44px;
    height: 22px;
    border: 1px solid #d3d4d5 !important;
    outline: 0;
    border-radius: 12px;
    box-sizing: border-box;
    background: #d3d4d5 !important;
    -webkit-transition: border-color .3s, background-color .3s;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;
} 

.vi-switch__core:after
{
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    margin-left: -1px;
    background-size: auto 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIwSURBVHgB7ZkxbsIwFIZfWmDuBANI5Ag9AZUKe0/S3qBUpUfgHB26l0r0BtwgSDDAwg5I6XtpKiFEgv3bsWrkT4oS7CjxF2L7PSdK0/SaLpgrunCCoO8EQd8Jgr4TBH0nCPrOxQvWCGS5XN5xoD7kwxvezxqNxmur1ZqTIXwtWq/X3e12+xJFUY+LEt7GnU7ngwAiJJtYLBYPvHs/aticJe9NJHO5eLfbffLP+LCKZQftdntKmqCv6NNxATdAnvrXarXqEkCJXHZ5rn8mAFTwpAQqeUbujxsCgARZZFpSpyWpKCfnzQgAEqzVaiP67fwnUZXUkEu4f48IABKUgaRer/fJQFJTro8OXvA8aCLpSk4wmuhRSVdy2f1trKpJ47nBEypvcDZPyrHCuVbkBCuCgqok/6MpOZITrAkKKpJl2JYTrAbbKn2yiCrkBOvZBCJZlZxQSbqkI1mlnBASXgSdwYZH1ZjnyQmahZzDqqBEKNzQWHckrVLSmqBq+FVEVZJWBDViSxlIkqL6KiSNBXXkJFRTiF2tShoJamYF2XpNPoUMyJEkLGiS8jSbzcSVJCRoms9x451JQoKybmmaz7mShAT3+70s+MZF9arhl6bkkADQV/S2pE4rttSQ7BEAOshsThWigbOipLtFJ27QG+/SwzLTrOCMpNxrTABwRp9/n3jkrcvX+JZ1S5sfX6Sf511hIw8U+S4hWF2y+I+EfNB3gqDvBEHfCYK+EwR9Jwj6zg9xhBtL/snwowAAAABJRU5ErkJggg==);
    -webkit-box-shadow: 0 2px 8px #00000014;
    box-shadow: 0 2px 8px #00000014;
    content: "";
} 

.ttam-creative-auto-attach-switch__switch_text {
    font-weight: 500;
}


.ttam-creative-auto-attach-switch__utm_switch_info_container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}


.ttam-creative-auto-attach-switch__switch__desc {
    padding-top: 4px;
    color: #6d6e71;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.ttam-creative-utm-entry {
    line-height: 20px;
    margin: 8px 0;
    font-size: 12px;
}


.ttam-creative-utm-entry__build.vi-button {
    font-size: 12px;
    line-height: 20px;
    vertical-align: bottom;
}

.index_labelOnly_sJZNV .vi-form-item__content>div {
    padding-bottom: 0;
}

.index_deepLinkSwitch_emYar {
    margin-right: 8px;
}